@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
}

.app__navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1rem;
    font-family: var(--font-base);
}

.app__navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.app__navbar-links li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: var(--color-grey);
}

.app__navbar-links li:hover {
    color: var(--color-grey);
    transition: 0.5s ease;
}

.app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar-login a {
    margin: 0 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s ease;
}

.app__navbar-login a:hover {
    border-bottom: 1px solid #10E8E1;
}

.signup__button {
    background-color: #10E8E1;
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 999em;
}

.app__navbar-responsive {
    display: none;
}

.app__navbar-responsive_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #10E8E1;
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.app__navbar-responsive_overlay .overlay__close {
    font-size: 27px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-responsive_links {
    list-style: none;   
}

.app__navbar-responsive_links li {
    margin: 2rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
}

.app__navbar-responsive_links li:hover {
    color: var(--color-grey);
}

@media screen and (max-width: 1150px) {
    .app__navbar {
        padding: 1rem;
    }

    .app__navbar-links {
        display: none;
    }

    .app__navbar-responsive {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
    }
    
    .app__navbar-login {
        display: none;
    }
}
